/***********************************************************************************************************/
/***************************************AJUSTES GENERALES***************************************************/
/***********************************************************************************************************/


@use "sass:map";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}




/***************************************COLORES GENERALES***************************************************/

 $color-principal: #CC00FF;
 $color-secundario: #FFFFFF;
 $color-text: #fff;
 $color-terciario: #5A595B;
 $color-fondo: #fff;
 $color-enfasis: #000000;
 $color-enlace: $color-secundario;
 $color-enlaceHover: $color-principal;





/***************************************FUENTES GENERALES***************************************************/

@font-face {
    font-family: 'Calibri';
    src: url('./fonts/Calibri-fonts/calibri-regular.ttf');
}


$font-text: (
  'family': "Calibri",
  'size': 1rem,
  'weigth': 400,
  'style': normal,
  'heigth':1.2rem
);

$font-H1: (
  'family': "Calibri",
  'size': 2.8rem,
  'weigth': 900,
  'style': normal,
  'heigth': 3rem
);

$font-H1-tablet: (
  'family': "Calibri",
  'size': 2.5rem,
  'weigth': 900,
  'style': normal,
  'heigth': 2.8rem
);

$font-H1-mobile: (
 'family': "Calibri", 
  'size': 2rem,
  'weigth': 900,
  'style': normal,
);


$font-H2: (
  'family': "Calibri",
  'size': 2rem,
  'weigth': 900,
  'style': normal,
);

$font-H2-tablet: (
  'family': "Calibri", 
  'size': 1.8rem,
  'weigth': 900,
  'style': normal,
);

$font-H2-mobile: (
  'family': "Calibri", 
  'size': 1.5rem,
  'weigth': 900,
  'style': normal,
);


$font-H3: (
  'family': "Calibri",
  'size': 1.6rem,
  'weigth': 700,
  'style': normal,
  'heigth':1.8rem
);

$font-H3-tablet: (
  'family': "Calibri",
  'size': 1.4rem,
  'weigth': 700,
  'style': normal,
);

$font-H3-mobile: (
  'family': "Calibri",
  'size': 1.2rem,
  'weigth': 700,
  'style': normal,
);


$font-btn: (
  'family': "Calibri",
  'size': 1,
  'weigth': 400,
  'style': normal,
);



/***************************************FUNCIONES DE FUENTES***************************************************/

@function get-map($font-map, $key) {
    @return map.get($font-map, $key);
}


/***************************************MEDIDAS GENERALES***************************************************/

$xs: 420px;    // Extra pequeño (móviles)
$sm: 576px;  // Pequeño (tabletas)
$md: 768px;  // Mediano (tabletas en modo horizontal)
$lg: 992px;  // Grande (computadoras de escritorio)
$xxl: 1200px; // Extra grande (pantallas grandes)



/***************************************ICONOS GENERALES***************************************************/







/***********************************************************************************************************/
/***************************************STYLE CSS***************************************************/
/***********************************************************************************************************/




/***************************************AJUSTES GENERALES***************************************************/





@for $i from 1 through 10 {
    .m-#{$i} {
        margin: $i * 1rem;
    }
    .mt-#{$i} {
        margin-top: $i * 1rem;
    }
    .mr-#{$i} {
        margin-right: $i * 1rem;
    }
    .mb-#{$i} {
        margin-bottom: $i * 1rem;
    }
    .ml-#{$i} {
        margin-left: $i * 1rem;
    }
    .my-#{$i} {
        margin-top: $i * 1rem;
        margin-bottom: $i * 1rem;
    }
    .mx-#{$i} {
        margin-right: $i * 1rem;
        margin-left: $i * 1rem;
    }
    
    .p-#{$i} {
        padding: $i * 1rem;
    }
    .pt-#{$i} {
        padding-top: $i * 1rem;
    }
    .pr-#{$i} {
        padding-right: $i * 1rem;
    }
    .pb-#{$i} {
        padding-bottom: $i * 1rem;
    }
    .pl-#{$i} {
        padding-left: $i * 1rem;
    }

    .py-#{$i} {
        padding-top: $i * 1rem;
        padding-bottom: $i * 1rem;
    }
    .px-#{$i} {
        padding-right: $i * 1rem;
        padding-left: $i * 1rem;
    }

    .g-#{$i}{
        gap: $i * 1rem;
    }
}


.body-login{
    background-size: cover;
    height: 100vh;
    background-image: url('../imgs/Captura\ de\ pantalla\ 2025-11-08\ 172312.png');
}

.g-05{
    gap: 0.5rem;
}

.main{
    padding: 3rem;
    height: 100vh;
    background-color: aqua;
}

li{
    list-style: none;
}


.d-none{
    display: none;
}

.d-block{
    display: block;
}

.d-flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.row{
    display: flex;
    width: 100%;
}

.row-column{
    display: flex;
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.justify-end{
    justify-content: end;
}

.justify-between{
    justify-content: space-between;
}

.justify-around{
    justify-content: space-around;
}


.align-center{
    align-items: center;
}

.text-center{
    text-align: center;
}

@for $i from 1 through 10 {
    .w-#{$i * 10} {
        width: $i * 10%; 
    }
}

@for $i from 1 through 10 {
    .h-#{$i * 10} {
        height: $i * 10vh; // Establece el ancho de cada columna en porcentaje
    }
}

@for $i from 1 through 10 {
    .col-#{$i * 10} {
        width: $i * 10%; 
    }
}






/***************************************FUENTES GENERALES***************************************************/



h1{
    font-family: get-map($font-H1, 'family');
    font-size: get-map($font-H1, 'size');
    font-weight: get-map($font-H1, 'weight');
    font-style: get-map($font-H1, 'style');
    line-height: get-map($font-H2, 'height');
    color: $color-text;
}

h2{
    font-family: get-map($font-H2, 'family');
    font-size: get-map($font-H2, 'size');
    font-weight: get-map($font-H2, 'weight');
    font-style: get-map($font-H2, 'style');
    line-height: get-map($font-H2, 'height');
    color: $color-text;
}

h3{
    font-family: get-map($font-H3, 'family');
    font-size: get-map($font-H3, 'size');
    font-weight: get-map($font-H3, 'weight');
    font-style: get-map($font-H3, 'style');
    line-height: get-map($font-H2, 'height');
    color: $color-text;
}


.text{
    font-family: get-map($font-text, 'family');
    font-size: get-map($font-text, 'size');
    font-weight: get-map($font-text, 'weight');
    font-style: get-map($font-text, 'style');
    line-height: get-map($font-text, 'height');
    color: $color-text;
}

.font-bold{
    font-weight: bold;
}

.a{
    font-family: get-map($font-text, 'family');
    font-size: get-map($font-text, 'size');
    font-weight: get-map($font-text, 'weight');
    font-style: get-map($font-text, 'style');
    color: $color-enlace;
    text-decoration: none;
}

.a:hover{
    color: $color-enlaceHover;
}



/***************************************HOME***************************************************/





/***************************************AUTH***************************************************/

.container-auth{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    background-color: #fff;
    border-radius: 1rem;
    padding: 2rem;
    width: 30%;
    height: 100%;
}

.logo-auth{
    height: 6rem;
}

.input{
    padding: 0.5rem;
    width: 100%;
}

.input:focus{
    outline: none;
}


.btn-auth{
    background-color: green;
    border-radius: 0.3rem;
    color: #fff;
    padding: 0.6rem 3rem;
    cursor: pointer;
    border: none;
    outline: none;
}

.btn-auth:hover{
    opacity: 0.7;
}



@keyframes alertAnimations {
    0%{
        transform: translateX(-500px);
    }
    100%{
        transform: translateX(0px);
    }
}




/***************************************LOGIN***************************************************/

.fond-img-login{
    height: 100vh;
    background-image: url('../img/fashionable-woman.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 30%;
}

.fond-img-reg{
    height: 100vh;
    background-image: url('../img/woman-wearing-headphone-while-singing-against-white-background.jpg');
    background-size: 135%;
    background-repeat: no-repeat;
    background-position: 100% 40%;
}


.content-login{
    height: 100vh;
    background-color: rgba(50, 1, 75, 0.749);
}

.content-reg{
    height: 100vh;
    background-color: rgba(1, 29, 75, 0.749);
}

.box-login-xxl{
    background-color: #000000;
    border-radius: 1rem;
    width: 31rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.box-login-mobile{
    display: none;
    border-radius: 1rem;
    width: 90%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.text-logo{
    font-family: get-map($font-text, 'family');
    font-size: 2.5rem;
    font-weight: get-map($font-text, 'weight');
    font-style: get-map($font-text, 'style');
    color: #fff;
}

.btn-login{
    background-color: $color-principal;
    color: $color-text;
    text-decoration: none;
    padding: 1rem 2rem;
    text-align: center;
    border-radius: 1rem;
    font-family: get-map($font-text, 'family');
    font-size: 1.3rem;
    width: 100%;
    transition: 0.6s;
    cursor: pointer;
}

.btn-login:hover{
    transform: scale(0.9);
}

.btn-google{
    background-color: $color-text;
    color: $color-enfasis;
    text-decoration: none;
    padding: 0.2rem 2rem;
    border-radius: 1rem;
    font-family: get-map($font-text, 'family');
    font-size: 1.3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.6s;
}

.btn-google:hover{
    transform: scale(0.9);
}

.a-link{
    color: $color-text;
    font-weight: bold;
    font-family: get-map($font-text, 'family');
}

.a-link:hover{
    color: $color-principal;
}

.input-login{
    background-color: #7C7C7C;
    color: #fff;
    font-family: get-map($font-text, 'family');
    width: 100%;
    padding: 1rem;
    font-size: 1.3rem;
    border: none;
    border-radius: 4px;
}

.input-login::placeholder{
    color: #fff;
}

/***************************************REGISTRO***************************************************/



/***************************************INICIO***************************************************/





/***************************************PROYECTOS***************************************************/





/***************************************TAREAS***************************************************/






/***************************************CONTACTOS***************************************************/




/***************************************FOOTER***************************************************/
.a-footer{
    font-family: get-map($font-text, 'family');
    font-size: get-map($font-text, 'size');
    font-weight: get-map($font-text, 'weight');
    font-style: get-map($font-text, 'style');
    text-decoration: none;
    color: $color-terciario;
}

.a-footer:hover{
    color: $color-secundario;
}




/***********************************************************************************************************/
/***************************************RESPONSIVES***************************************************/
/***********************************************************************************************************/




/**********************************PORTATILES PEQUEÑOS*****************************/


@media screen and (max-width: $xxl) {
    
}


/***************************************TABLETS***************************************************/

@media screen and (max-width: $lg) {

    .box-login-xxl{
        display: none !important;
    }

    .box-login-mobile{
        display: flex;
        border-radius: 1rem;
        transform: scale(1);
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
    
    .fond-img-login{
        height: 100vh;
        background-image: url('../img/fashionable-woman.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 100% 10%;
    }
    
}


@media screen and (max-width: $md) {

    @for $i from 1 through 10 {
        .m-tablet-#{$i} {
            margin: $i * 1rem !important;
        }
        .mt-tablet-#{$i} {
            margin-top: $i * 1rem !important;
        }
        .mr-tablet-#{$i} {
            margin-right: $i * 1rem !important;
        }
        .mb-tablet-#{$i} {
            margin-bottom: $i * 1rem !important;
        }
        .ml-tablet-#{$i} {
            margin-left: $i * 1rem !important;
        }
        .my-tablet-#{$i} {
            margin-top: $i * 1rem !important;
            margin-bottom: $i * 1rem !important;
        }
        .mx-tablet-#{$i} {
            margin-right: $i * 1rem !important;
            margin-left: $i * 1rem !important;
        }
        
        .p-tablet-#{$i} {
            padding: $i * 1rem !important;
        }
        .pt-tablet-#{$i} {
            padding-top: $i * 1rem !important;
        }
        .pr-tablet-#{$i} {
            padding-right: $i * 1rem !important;
        }
        .pb-tablet-#{$i} {
            padding-bottom: $i * 1rem !important;
        }
        .pl-tablet-#{$i} {
            padding-left: $i * 1rem !important;
        }
    
        .py-tablet-#{$i} {
            padding-top: $i * 1rem !important;
            padding-bottom: $i * 1rem !important;
        }
        .px-tablet-#{$i} {
            padding-right: $i * 1rem !important;
            padding-left: $i * 1rem !important;
        }
    
        .g-tablet-#{$i}{
            gap: $i * 1rem !important;
        }
    }

    .header{
        background-color: $color-principal;
        padding: 3rem;
    }
    
    
    .footer{
        background-color: $color-principal;
        padding: 3rem;
    }
    
    .main{
        background-image: url('../imgs/2542.png');
        padding: 3rem;
    }

    .d-none-tablet{
        display: none !important;
    }
    
    .d-block-tablet{
        display: block !important;
    }
    
    .d-flex-tablet{
        display: flex !important;
    }


    h1{
        font-family: get-map($font-H1-tablet, 'family');
        font-size: get-map($font-H1-tablet, 'size');
        font-weight: get-map($font-H1-tablet, 'weight');
        font-style: get-map($font-H1-tablet, 'style');
        line-height: get-map($font-H2, 'height');
    }
    
    h2{
        font-family: get-map($font-H2-tablet, 'family');
        font-size: get-map($font-H2-tablet, 'size');
        font-weight: get-map($font-H2-tablet, 'weight');
        font-style: get-map($font-H2-tablet, 'style');
        line-height: get-map($font-H2, 'height');
    }
    
    h3{
        font-family: get-map($font-H3-tablet, 'family');
        font-size: get-map($font-H3-tablet, 'size');
        font-weight: get-map($font-H3-tablet, 'weight');
        font-style: get-map($font-H3-tablet, 'style');
        line-height: get-map($font-H2, 'height');
    }

    .box{
        width: 100% !important;
    }

    .row{
        display: flex;
        width: 100%;
        flex-direction: column !important;
        gap: 1rem;
    }

    .justify-tablet-center{
        justify-content: center !important;
    }
    
    .justify-tablet-end{
        justify-content: end !important;
    }
    
    .justify-tablet-between{
        justify-content: space-between !important;
    }
    
    .justify-tablet-around{
        justify-content: space-around !important;
    }

    .nav-img{
        width: 12rem;
        height: 12rem;
        background-color: $color-secundario;
        border-radius: 100%;
        background-image: url('../imgs/1712518671384.png');
        background-size: cover;
        cursor: pointer;
    }

    .sidebar-nav{
        height: 130vh;
    }

    .box-circle-nav{
        height: 120vh;
    }

    .sidebar-nav>div>ul>li>a{
        font-weight: bold;
        font-size: 1.4rem;
        text-align: center;
        width: 100% !important;
        display: block;
    }
    

    

}


@media screen and (max-width: $sm) {

    
    
}



/***************************************MOBILES***************************************************/

@media screen and (max-width: $xs) {

    .fond-img-login{
        height: 100vh;
        background-image: url('../img/fashionable-woman.jpg');
        background-size: cover;
        width: 100% !important;
        background-repeat: no-repeat;
        background-position: 70% 10%;
    }

    .box-login-mobile{
        display: flex;
        width: 100%;
        border-radius: 1rem;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        transform: scale(1) !important;
    }
    
    
    
    .main{
        background-image: url('../imgs/2542.png');
        padding: 3rem 1.5rem;
    }

    .d-none-mobile{
        display: none !important;
    }
    
    .d-block-mobile{
        display: block !important;
    }
    
    .d-flex-mobile{
        display: flex !important;
    }


    h1{
        font-family: get-map($font-H1-mobile, 'family');
        font-size: get-map($font-H1-mobile, 'size');
        font-weight: get-map($font-H1-mobile, 'weight');
        font-style: get-map($font-H1-mobile, 'style');
        line-height: get-map($font-H2, 'height');
    }
    
    h2{
        font-family: get-map($font-H2-mobile, 'family');
        font-size: get-map($font-H2-mobile, 'size');
        font-weight: get-map($font-H2-mobile, 'weight');
        font-style: get-map($font-H2-mobile, 'style');
        line-height: get-map($font-H2, 'height');
    }
    
    h3{
        font-family: get-map($font-H3-mobile, 'family');
        font-size: get-map($font-H3-mobile, 'size');
        font-weight: get-map($font-H3-mobile, 'weight');
        font-style: get-map($font-H3-mobile, 'style');
        line-height: get-map($font-H2, 'height');
    }

    .row{
        display: flex;
        width: 100%;
        flex-direction: column !important;
        align-items: center;
        gap: 1rem;
    }
    

    @for $i from 1 through 10 {
        .col-mobile-#{$i * 10} {
            width: $i * 10% !important; // Establece el ancho de cada columna en porcentaje
        }
    }

    .justify-mobile-center{
        justify-content: center !important;
    }
    
    .justify-mobile-end{
        justify-content: end !important;
    }
    
    .justify-mobile-between{
        justify-content: space-between !important;
    }
    
    .justify-mobile-around{
        justify-content: space-around !important;
    }
    
}



